<div class="calendar-box">
  <div>Festas Calendário Judaico</div>
  <div>חגי לוח שנה יהודי</div>
  <table>
    <tr>
      <th>
        Nome
      </th>
      <th>
        שֵׁם
      </th>
      <th>
        Evento
      </th>
      <th>
        Data
      </th>
      <th>
        Referência
      </th>
    </tr>
    <tr>
      <td>
        Chanucá
      </td>
      <td>
        חנכה
      </td>
      <td>
        Festa da Dedicação
      </td>
      <td>
        (1ª vela de Chanuká – noite do dia 07/12/23 até dia entardecer de 15/12/23)
      </td>
      <td>
        Nm. 7:1 – 8:4; Zc 2:14 – 4:7, Jo 10:22-29
      </td>
    </tr>
    <tr>
      <td>
        Purím
      </td>
      <td>
        פּוּרִים
      </td>
      <td>
        Sortes
      </td>
      <td>
        (Erev Purim – noite do dia 23/03/24)
      </td>
      <td>
        Ex. 17: 8-16, Es, Sl. 3:3, Hb. 11
      </td>
    </tr>
    <tr>
      <td>
        Pêssach
      </td>
      <td>
        חנכה
      </td>
      <td>
        Festa da Páscoa
      </td>
      <td>
        (Erev Pêssach – noite do dia 22/04/24)
      </td>
      <td>
        Ex.12:21-51; Js 3:5-7, 5:2-15, 6:1, 27, Jo. 1:29-31, 10:14-18 (Erev Pêssach – noite do dia 5/04/23)
      </td>
    </tr>
    <tr>
      <td>
        Yom HaShoá
      </td>
      <td>
        יום השואה
      </td>
      <td>
        Dia do Holocausto
      </td>
      <td>
        (Início da noite de 05/05/2024)
      </td>
      <td>
        Dt. 4:30-40, Ap. 6:9-11
      </td>
    </tr>
    <tr>
      <td>
        Yom HaAtsmaút
      </td>
      <td>
        יום העצמאות
      </td>
      <td>
        Dia da Indep.(Israel)
      </td>
      <td>
        (início da noite de 13/05/2024)
      </td>
      <td>
        Dt. 11:8-21, Is. 10:32-11:12, Mt. 24:29-44
      </td>
    </tr>
    <tr>
      <td>
        Shavuôt
      </td>
      <td>
        שבועות
      </td>
      <td>
        Semanas
      </td>
      <td>
        (Erev Shavuot – noite do dia 11/06/24)
      </td>
      <td>
        Ex. 19:1-20:23, Dt 14:22 – 16:17, At 2:1-47
      </td>
    </tr>
    <tr>
      <td>
        Tishá BeAv
      </td>
      <td>
        תִּשְׁעָה בְּאָב
      </td>
      <td>
        9 de Av
      </td>
      <td>
        (Início da noite de 12/08/24)
      </td>
      <td>
        Manhã: Dt 4:25 – 40; Jr 8:13, 9:1-23; Tarde: Ex 32:11-14, Is caps. 55 e 56
      </td>
    </tr>
    <tr>
      <td>
        Yom Teruah
      </td>
      <td>
        יום תרועה
      </td>
      <td>
        Dia do Toque do Shofar
      </td>
      <td>
        (Início na noite de 02/10/24)
      </td>
      <td>
        Gn. 21:1-34, 22:1-24; 1Sm 1:1 – 2:10, Jr 31:1-19, ITs 4:16-18
      </td>
    </tr>
    <tr>
      <td>
        Yom Kipúr
      </td>
      <td>
        יום כיפור
      </td>
      <td>
        Dia do Perdão
      </td>
      <td>
        (Início da noite de 11/10/24)
      </td>
      <td>
        Lv 16:1-34, Is. 57:14-58:14, 2 Co. 5:10-21
      </td>
    </tr>
    <tr>
      <td>
        Sucôt
      </td>
      <td>
        סוכות
      </td>
      <td>
        Tabernáculos
      </td>
      <td>
        (Erev Sucôt – noite do dia 16/10/24 termina ao anoitecer do dia 23/10/24)
      </td>
      <td>
        Lv 22:26-23:44, Zc 14:1-24, Ap. 7:1-10
      </td>
    </tr>
    <tr>
      <td>
        Shemini Atsêret
      </td>
      <td>
        שמיני עצרת
      </td>
      <td>
        Oitavo dia da Assembleia
      </td>
      <td>
        noite do dia 23/10/24 termina ao anoitecer do dia 24/10/23
      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>
        Simchát Torá
      </td>
      <td>
        שמחת תורה
      </td>
      <td>
        A Alegria da Torá
      </td>
      <td>
        (Início da noite de 07/10/24)
      </td>
      <td>
        Dt 14:22 – 16:17, Nm 29:35 – 30:1, 1Rs 8:54 – 9:1 (além da Parashá “Ve Zôt há Brachá” e Gn 1:1 – 2:3).
      </td>
    </tr>
  </table>
