<div class="sinagoga-box">
  <div class="content">
    <div class="texto">
      <div class="title">
        Kahal Beit Tefilah
      </div>
      <div class="title">
        כחל בית תפילה
      </div>
    </div>
  </div>
  <div class="box">
    <div class="image">
      <img src="/assets/image/sinagoga.jpg" alt="sinagoga beit tefilah">
    </div>
    <div class="content-box">
      <div class="texto">
        <div class="title">
          A Singoga Beit Tefilah está a mais de 20 anos em Brasília
        </div>
      </div>
      <div class="texto">
        <div class="title">
          A Sinagoga Beit Tefilah é reconheciada pelos rabinos:
        </div>
        <div class="sub-title">
          Rabino Manuel David Goffman – Miami, Flórida – Shema Israel International  (suportada pelo UMJC);
        </div>
        <div class="sub-title">
          Rabino Juda ben Haim (Arad Israel, Ordenado pelo Rabino Joseph Shulam – Jerusalém Israel);
        </div>
        <div class="sub-title">
          Rabino Yehuda ben Yaakov (Shema Israel International – São Paulo, Brasil);
        </div>
      </div>
    </div>
  </div>
</div>

