<div class="sinagoga-box">
  <div class="content">
    <div class="texto">
      <div class="title">
        Kahal Beit Tefilah
      </div>
      <div class="title">
        כחל בית תפילה
      </div>
    </div>
  </div>
  <div class="box">
    <div class="image">
      <img src="/assets/image/sinagoga.jpg" alt="sinagoga beit tefilah">
    </div>
    <div class="content-box">
      <div class="texto">
        <div class="title">
          A Singoga Beit Tefilah está a mais de 20 anos em Brasília
        </div>
      </div>
      <div class="texto">
        <div class="title">
          A Sinagoga Beit Tefilah é reconheciada pelos rabinos:
        </div>
        <table>
          <tr>
            <th>
              Rabinos
            </th>
            <th>
              Localização
            </th>
            <th>
              Ordenança Superior
            </th>
            <th>
              Ordenança Suprema
            </th>
          </tr>
          <tr>
            <td>
              Rabino Manuel David Goffman
            </td>
            <td>
              Miami, Flórida, Estados Unidos
            </td>
            <td>
              Shema Israel International
            </td>
            <td>
              UMJC - Union of Messianic Jewish Congregations
            </td>
          </tr>
          <tr>
            <td>
              Rabino Juda ben Haim
            </td>
            <td>
              Arad, Israel
            </td>
            <td>
              Ordenado pelo Rabino Joseph Shulam – Jerusalém Israel
            </td>
            <td>
              Rabinato Supremo de Jerusalém
            </td>
          </tr>
          <tr>
            <td>
              Rabino Yehuda ben Yaakov
            </td>
            <td>
               São Paulo, Brasil
            </td>
            <td>
              Shema Israel International
            </td>
            <td>
              UMJC - Union of Messianic Jewish Congregations
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

