<div class="contribua-box">
  <div class="content">
    <div class="texto">
      <div class="title">
        Contribua
      </div>
      <div class="title">
        לתרום
      </div>
    </div>
  </div>
  <div class="content-contribuicao">
    <div class="rows">
      <div class="title">
        Via Pix
      </div>
      <div class="content">
        Nossa chave:
      </div>
      <div class="content">
        CNPJ: XXXXXXX
      </div>
    </div>
    <div class="rows">
      <div class="title">
        Despósito Bancário
      </div>
      <div class="content">
        Contribua através de nossas contas:
      </div>
      <div class="content">
        Sinagoga Beit Tefilah - CNPJ: XXXXXXX
      </div>
      <div class="content">
        Banco: XXXXXXXXX <b>AGÊNCIA:</b> XXXXXXXX <b>C/C</b> XXXXXXXX
      </div>
      <div class="content">
        Banco: XXXXXXXXX <b>AGÊNCIA:</b> XXXXXXXX <b>C/C</b> XXXXXXXX
      </div>
      <div class="content">
        Banco: XXXXXXXXX <b>AGÊNCIA:</b> XXXXXXXX <b>C/C</b> XXXXXXXX
      </div>
    </div>
    <div class="rows">
      <div class="title">
        Paypal
      </div>
      <div class="content">
        Paypal: XXXXXXXXX
      </div>
    </div>
  </div>
</div>
