<div class="calendar-box">
  <div>Rosh Chodesh</div>
  <div>ראש חודש</div>
  <table>
    <tr>
      <th>
        Nome
      </th>
      <th>
        שֵׁם
      </th>
      <th>
        Data
      </th>
    </tr>
    <tr>
      <td>
        R. C. Sh’vat
      </td>
      <td>

      </td>
      <td>
        10/01/24
      </td>
    </tr>
    <tr>
      <td>
        R. C. Adar I
      </td>
      <td>

      </td>
      <td>
        08/02/24
      </td>
    </tr>
    <tr>
      <td>
        R. C. Adar II
      </td>
      <td>

      </td>
      <td>
        09/03/24
      </td>
    </tr>
    <tr>
      <td>
        R. C. Nisan
      </td>
      <td>

      </td>
      <td>
        08/04/24
      </td>
    </tr>
    <tr>
      <td>
        R. C. Iyyar
      </td>
      <td>

      </td>
      <td>
        09/05/24
      </td>
    </tr>
    <tr>
      <td>
        R. C. Sivan
      </td>
      <td>

      </td>
      <td>
        06/06/24
      </td>
    </tr>
    <tr>
      <td>
        R.C. Tamuz
      </td>
      <td>

      </td>
      <td>
        05/07/24
      </td>
    </tr>
    <tr>
      <td>
        R. C. Av
      </td>
      <td>

      </td>
      <td>
        04/08/24
      </td>
    </tr>
    <tr>
      <td>
        R. C. Elul
      </td>
      <td>

      </td>
      <td>
        03/09/24
      </td>
    </tr>
    <tr>
      <td>
        R. C. Tisherei
      </td>
      <td>

      </td>
      <td>
        02/10/24
      </td>
    </tr>
    <tr>
      <td>
        R. C. Cheshvan
      </td>
      <td>

      </td>
      <td>
        31/10/24
      </td>
    </tr>
    <tr>
      <td>
        R. C. Kislev
      </td>
      <td>

      </td>
      <td>
        30/11/23
      </td>
    </tr>
    <tr>
      <td>
        R. C. Tevet
      </td>
      <td>

      </td>
      <td>
        31/12/24
      </td>
    </tr>
  </table>

