<div class="calendar-box">
    <div class="content">
      <div class="texto">
        <div class="title">
          Parashot Calendário
        </div>
        <div class="title">
          לוח שנה של פרשות
        </div>
      </div>
    </div>
  <table>
    <tr>
      <th>
        Data
      </th>
      <th>
        SHEMÔT
      </th>
      <th>
        שמות
      </th>
      <th>
        Parasha
      </th>
      <th>
        Torah
      </th>
      <th>
        Haftarah
      </th>
      <th>
        Brit Chadasha
      </th>
      <th>
        Tehilim
      </th>
    </tr>
    <tr>
      <td>
        06/01/2024
      </td>
      <td>
        SHEMÔT
      </td>
      <td>
        שמות
      </td>
      <td>
        Nomes
      </td>
      <td>
        Ex 1:1 a 6:1
      </td>
      <td>
        Is 27:6 a 28:13; 29:22 a 23
      </td>
      <td>
        At 7:17 a 29
      </td>
      <td>
        99
      </td>
    </tr>
  </table>
  <div class="title">
    <div>SHEMÔT</div>
    <div>שמות</div>
  </div>
  <table>
    <tr>
      <th>
        Data
      </th>
      <th>
        SHEMÔT
      </th>
      <th>
        שמות
      </th>
      <th>
        Parasha
      </th>
      <th>
        Torah
      </th>
      <th>
        Haftarah
      </th>
      <th>
        Brit Chadasha
      </th>
      <th>
        Tehilim
      </th>
    </tr>
    <tr>
      <td>
        06/01/2024
      </td>
      <td>
        SHEMÔT
      </td>
      <td>
        שמות
      </td>
      <td>
        Nomes
      </td>
      <td>
        Ex 1:1 a 6:1
      </td>
      <td>
        Is 27:6 a 28:13; 29:22 a 23
      </td>
      <td>
        At 7:17 a 29
      </td>
      <td>
        99
      </td>
    </tr>
  </table>
  <div class="title">
    <div>VAYICRÁ</div>
    <div>ויקרא</div>
  </div>
  <table>
    <tr>
      <th>
        Data
      </th>
      <th>
        SHEMÔT
      </th>
      <th>
        שמות
      </th>
      <th>
        Parasha
      </th>
      <th>
        Torah
      </th>
      <th>
        Haftarah
      </th>
      <th>
        Brit Chadasha
      </th>
      <th>
        Tehilim
      </th>
    </tr>
    <tr>
      <td>
        06/01/2024
      </td>
      <td>
        SHEMÔT
      </td>
      <td>
        שמות
      </td>
      <td>
        Nomes
      </td>
      <td>
        Ex 1:1 a 6:1
      </td>
      <td>
        Is 27:6 a 28:13; 29:22 a 23
      </td>
      <td>
        At 7:17 a 29
      </td>
      <td>
        99
      </td>
    </tr>
  </table>
  <div class="title">
    <div>BAMIDBÁR</div>
    <div>במדבר</div>
  </div>
  <table>
    <tr>
      <th>
        Data
      </th>
      <th>
        SHEMÔT
      </th>
      <th>
        שמות
      </th>
      <th>
        Parasha
      </th>
      <th>
        Torah
      </th>
      <th>
        Haftarah
      </th>
      <th>
        Brit Chadasha
      </th>
      <th>
        Tehilim
      </th>
    </tr>
    <tr>
      <td>
        06/01/2024
      </td>
      <td>
        SHEMÔT
      </td>
      <td>
        שמות
      </td>
      <td>
        Nomes
      </td>
      <td>
        Ex 1:1 a 6:1
      </td>
      <td>
        Is 27:6 a 28:13; 29:22 a 23
      </td>
      <td>
        At 7:17 a 29
      </td>
      <td>
        99
      </td>
    </tr>
  </table>
  <div class="title">
    <div>DEVARÍM</div>
    <div>דברים</div>
  </div>
  <table>
    <tr>
      <th>
        Data
      </th>
      <th>
        SHEMÔT
      </th>
      <th>
        שמות
      </th>
      <th>
        Parasha
      </th>
      <th>
        Torah
      </th>
      <th>
        Haftarah
      </th>
      <th>
        Brit Chadasha
      </th>
      <th>
        Tehilim
      </th>
    </tr>
    <tr>
      <td>
        06/01/2024
      </td>
      <td>
        SHEMÔT
      </td>
      <td>
        שמות
      </td>
      <td>
        Nomes
      </td>
      <td>
        Ex 1:1 a 6:1
      </td>
      <td>
        Is 27:6 a 28:13; 29:22 a 23
      </td>
      <td>
        At 7:17 a 29
      </td>
      <td>
        99
      </td>
    </tr>
  </table>
</div>
Data	SHEMÔT		Parasha	Torah	Haftarah	Brit Chadasha	Tehilim
06/01/2024	SHEMÔT	שמות	Nomes	Ex 1:1 a 6:1	Is 27:6 a 28:13; 29:22 a 23	At 7:17 a 29	99
13/01/2024	Vaerá	וארא	Apareci	Ex 6:2 a 9:35	Ez 28:25 a 29:21	Rm 9:14 a 24	46
20/01/2024	Bô	בא	Vai	Ex 10:1 a 13:16	Jr 46:13 a 28	1 Co 11:20 a 34	77
27/01/2024	Beshalách	בשלח	Quando ele enviou	Ex 13:17 a 17:16	Jz 4:4 a 5:31	Jo 6:22 a 40	66
03/02/2024	Yitró	יתרו	Jetro (Abundância)	Ex 18:1 a 20:26	Is 6:1 a 7:6; 9:5 a 7	Mt 5:17 a 32	19
10/02/2024	Mishpatím	משפטים	Julgamentos	Ex 21:1 a 24:18	Jr 34:8 a 22; 33:25 a 26	Mt 5:38 a 42	72
17/02/2024	T’rumá	תרומה	Oferta	Ex 25:1 a 27:19	1 Rs 5:12 a 6:13	Mt 5:33 a 37	26
24/02/2024	Tetsavê	תצוה	Ordena!	Ex 27:20 a 30:10	Ez 43:10 a 27	Hb 13:10 a 17	65
02/03/2024	Ki Tisá	כי תשא	Então levarás	Ex 30:11 a 34:35	1 Rs 18:1 a 39	1 Co 8:4 a 13	75
09/03/2024	Vaiak’hêl	ויקהל	E ajuntou	Ex 35:1 a 38:17	2 Rs 11: 17 a 20	Mc 9: 1 a 50	61
16/03/2024	Pekudêi	פקודי	Enumeração	Ex 38: 21 a 40:38	1 Rs 7:51 a 8:21	Mc 10:1 a 52	45
