<div class="area-cadastro">
  <div class="content">
    <div class="texto">
      <div class="title">
        Perfil
      </div>
      <div class="title">
        פּרוֹפִיל
      </div>
    </div>
  </div>
  <div class="card shadow">
    <h1 class="title-card">Registro Pessoal</h1>
    <div class="rows rows-table">
      <table>
        <tr>
          <th>
            Nome
          </th>
          <th>
           Data de Nascimento
          </th>
          <th>
           Endereço
          </th>
          <th>
            CEP
          </th>
          <th>
            Telefone
          </th>
          <th>
           CPF
          </th>
          <th>
            Escolaridade
          </th>
          <th>
           Profissão
          </th>
        </tr>
        <tr>
          <td>
            Gabriel Barros Rodrigues de Sousa
          </td>
          <td>
            20/05/1995
          </td>
          <td>
            Quadra 19, Casa 93A, Setor Oeste, Gama
          </td>
          <td>
            72.420.190
          </td>
          <td>
            61 996924091
          </td>
          <td>
           049.127.881-04
          </td>
          <td>
           Ensino Superior Completo
          </td>
          <td>
            Engenheiro de Software
           </td>
        </tr>
      </table>
    <h1 class="title-card">Registro Civil</h1>
    <div class="rows rows-table">
      <table>
        <tr>
          <th>
            Nacionalidade
          </th>
          <th>
           Naturalidade
          </th>
          <th>
           Estado Civil
          </th>
        </tr>
        <tr>
          <td>
            Brasileira
          </td>
          <td>
            <!-- <br> -->
            Brasília
            <!-- <br>
            <br>
            I-CTS616
            <br> -->
          </td>
          <td>
            Solteiro
          </td>
        </tr>
      </table>
    <h1 class="title-card">Registro Religioso</h1>
    <div class="rows rows-table">
      <table>
        <tr>
          <th>
            Status
          </th>
          <th>
           Gentio
          </th>
          <th>
           Israelita
          </th>
          <th>
            Tribo
          </th>
          <th>
            Data Batismo
          </th>
          <th>
            Membro desde
          </th>
        </tr>
        <tr>
          <td>
            Membro
          </td>
          <td>
            <!-- <br> -->
            Não
            <!-- <br>
            <br>
            I-CTS616
            <br> -->
          </td>
          <td>
            Sim
          </td>
          <td>
            Judá
            <br>
            Benjamim
            <br>
            José
          </td>
          <td>
            XX/XX/XXXX
          </td>
          <td>
           XX/XX/XXXX
          </td>
        </tr>
      </table>
    </div>
    <h1 class="title-card">Registro Genético</h1>
    <div class="rows rows-table">
      <table>
        <tr>
          <th>
            Y-DNA
          </th>
          <th>
            MtDNA
          </th>
          <th>
            Autossomos
          </th>
          <th>
            Índice Sefardita
          </th>
          <th>
            Índice Tuareg
          </th>
          <th>
            DNA Israelita
          </th>
        </tr>
        <tr>
          <td>
            <br>
            E-M2
            <br>
            <br>
            I-CTS616
            <br>
          </td>
          <td>
            B2
          </td>
          <td>
            Europa 57%
            <br>
            Israel 13%
            <br>
            África 20%
            <br>
            América 18%
            <br>
            Ásia 0%
            <br>
            Oceania 0%
          </td>
          <td>
            69%
          </td>
          <td>
            20%
          </td>
          <td>
           89%
          </td>
        </tr>
      </table>
    </div>
    <div class="padding"></div>
  </div>
</div>
