<div class="parashot-box">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/prENJiaS8AI?si=NCsD2Zx4yNcBZMzW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/SjYGmEguvhY?si=4Q4y45-fHfwJrMLi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
